*{
  padding:0;
  margin: 0;
  }
  /*Web body*/

body{
  background-color: #7b8478;
  background-size: cover;
  background-attachment: fixed;
  height:100%;
  }
.pint{
  text-align: center;
  background-position: center;
  background-size: 20px;
}
  /*H1 text*/
h1{
  text-align: center;
  padding:10px;
  margin: 1 auto 0 1;
  background-color: #0f3723;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  display: block;
  color: #F8FEFD;
  }

  /*Logo image*/
.logo img{
    position: absolute;
    margin-top: 1px;
    margin-left: 20px;
    height: 110px;
    margin-block: 35px;
    }
   /*Backgroun image drinks*/

   .content img{
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 600px;
    width: 800px;
    height: 400px;
    
   }

/*drinks*/ 
 .content1 img{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  float: left;
  }
  
 

    }
    .content1 p{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    
    }

   .content2{
      text-align: center;
      padding: 10px;
      border: solid 5px #0f3723;
    }
  .content3{
    text-align: center;
    padding: 50px;

  }
  
.burger{
  
}
  /*Navegation*/
nav ul{
  background-color: #004c3f;
  width: 100%;
  list-style-type: none;
  text-align: center;
  }
  nav li{
    display:inline-flex
    }
    nav a{
      text-decoration: none;
      color:#F8FEFD;
      padding:20px;
      font-size: 20px;
    }
    nav li:hover{
      background-color: #0f3723;
    }

  /*welcome page*/
  .content p {
    padding: 100px;
    margin: 100px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
   
    
  
  /*footer*/
  .footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20;
    
   
    
    }
    
  
  



